<div *ngIf="results$ | async as results else noData">
    <mat-list *ngIf="results.results.length > 0 else noReviews">
        <!-- <h3 mat-subheader>REVIEWS</h3> -->
        <mat-list-item *ngFor="let review of results.results" class="my-3">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{review.author}}</h4>
            <p mat-line class="text-secondary"> {{review.content}} </p>
            <a mat-line href="{{review.url}}" target="_blank">read more...</a>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <ng-template #noReviews>
        <p class="lead m-4">No Reviews Available</p>
    </ng-template>
</div>


<ng-template #noData>
    <p class="lead m-4">No Reviews Available</p>
</ng-template>