<div class="container-fluid mb-4">
  <div class="row" *ngIf="results$ | async as results else noData">
    <div class="col-4 col-sm-4 col-md-3 col-xl-2 mt-3" *ngFor="let result of results">
      <mat-card routerLink="movies-details" style="padding-bottom: 0px; cursor: pointer;" class="img-hover-zoom">
        <img mat-card-image src="{{moviesService.imageBaseUrl_w300 + result.poster_path }}" alt="{{result.title}}">
      </mat-card>

    </div>
    
<small> {{results | json}}</small> 
  </div>
  <ng-template #noData>No Data Available</ng-template>
</div>
