<!-- <pre class="text-dark">data: {{movieOverview | json}} </pre> -->



<div class="container-fluid" *ngIf="movieOverview else noData">

    <div class="row my-3">
        <div class="col-md-4">
            <img src="{{moviesService.imageBaseUrl_w780 + movieOverview.poster_path }}"
                onError="this.src='../../../../assets/images/ImageNotFound.jpg';" class="img img-fluid img-thumbnail"
                alt="">
        </div>

        <div class="col-md-8">
            <table class="table table-striped" [class.text-light]="!moviesService.isLightTheme"
                [class.table-dark]="!moviesService.isLightTheme">
                <thead>
                    <tr>
                        <td colspan="2"> <span class="lead">{{movieOverview.overview}}</span> </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="movieOverview.vote_average">
                        <th scope="row">Rating</th>
                        <td>
                            <div style="margin-bottom: -40px;">
                                <mat-progress-spinner color="primary" mode="determinate"
                                    [value]="movieOverview.vote_average * 10"
                                    [class.mat-spinner-color-bad]="movieOverview.vote_average <= 5"
                                    [class.mat-spinner-color-average]="movieOverview.vote_average > 5 && movieOverview.vote_average < 7"
                                    [class.mat-spinner-color-good]="movieOverview.vote_average >= 7"
                                    aria-label="Rating">
                                </mat-progress-spinner>
                                <div style="position:relative; top: -73px; left: 28px; font-size: 30px; font-weight: bold;">
                                    {{movieOverview.vote_average | number:'1.1-1'}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="movieOverview.status">
                        <th scope="col">Status</th>
                        <td>{{movieOverview.status}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.release_date">
                        <th scope="col">Release Date</th>
                        <td>{{movieOverview.release_date}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.original_language">
                        <th scope="row">Language</th>
                        <td>{{movieOverview.original_language}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.spoken_languages">
                        <th scope="row">Spoken Languages</th>
                        <td>
                            <span *ngFor="let lang of movieOverview.spoken_languages"> {{lang.name}}, </span>etc.
                        </td>
                    </tr>
                    <tr *ngIf="movieOverview.tagline">
                        <th scope="row">Tagline</th>
                        <td>{{movieOverview.tagline}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.adult">
                        <th scope="row">Adult</th>
                        <td>{{movieOverview.adult}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.genres && movieOverview.genres.length > 0">
                        <th scope="row">Genres</th>
                        <td>
                            <span *ngFor="let genre of movieOverview.genres"> {{genre.name}},</span> etc.
                        </td>
                    </tr>
                    <tr *ngIf="movieOverview.production_countries && movieOverview.production_countries.length > 0">
                        <th scope="row">Production Countries</th>
                        <td>
                            <span *ngFor="let prodCountry of movieOverview.production_countries">
                                {{prodCountry.name}},</span>
                        </td>
                    </tr>
                    <tr *ngIf="movieOverview.production_companies && movieOverview.production_companies.length > 0">
                        <th scope="row">Production Companies</th>
                        <td>
                            <span *ngFor="let prodCompany of movieOverview.production_companies">
                                {{prodCompany.name}}({{prodCompany.origin_country}}),</span> etc.
                        </td>
                    </tr>
                    <tr *ngIf="movieOverview.budget">
                        <th scope="row">Budget</th>
                        <td>{{movieOverview.budget | currency}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.revenue">
                        <th scope="row">Revenue</th>
                        <td>{{movieOverview.revenue | currency}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.runtime">
                        <th scope="row">Runtime</th>
                        <td>{{movieOverview.runtime}} mins</td>
                    </tr>
                    <tr *ngIf="movieOverview.popularity">
                        <th scope="row">Popularity</th>
                        <td>{{movieOverview.popularity}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.vote_count">
                        <th scope="row">Vote Count</th>
                        <td>{{movieOverview.vote_count}}</td>
                    </tr>
                    <tr *ngIf="movieOverview.homepage">
                        <th scope="row">Homepage</th>
                        <td> <a href="{{movieOverview.homepage}}" target="_blank">click here</a> </td>
                    </tr>
                    <tr *ngIf="movieOverview.belongs_to_collection">
                        <th scope="row">Belongs To Collection</th>
                        <td>
                            {{movieOverview.belongs_to_collection.name}}

                            <img src="{{moviesService.imageBaseUrl_w780 + movieOverview.belongs_to_collection.poster_path }}"
                                class="img-fluid">
                            <img src="{{moviesService.imageBaseUrl_w780 + movieOverview.belongs_to_collection.backdrop_path }}"
                                class="img-fluid">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <img src="{{moviesService.imageBaseUrl_w1280 + movieOverview.backdrop_path }}" class="img img-fluid w-100"
            alt="">
    </div>

</div>

<ng-template #noData>
    <div class="lead m-4" style="min-height: 100vh;">No data available</div>
</ng-template>