<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="POSTERS ({{movieImages.posters.length}})">
        <mat-grid-list *ngIf="movieImages" [cols]="(moviesService.isHandset$ | async) ? 1 : 2" rowHeight="1:1.5">
            <mat-grid-tile *ngFor="let image of movieImages.posters">
                <img class="img-fluid" src="{{moviesService.imageBaseUrl_w780 + image.file_path }}" />
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="BACKDROPS ({{movieImages.backdrops.length}})">
        <mat-grid-list *ngIf="movieImages" [cols]="(moviesService.isHandset$ | async) ? 1 : 2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let image of movieImages.backdrops">
                <img class="img-fluid" src="{{moviesService.imageBaseUrl_w780 + image.file_path }}" />
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>
