<mat-form-field appearance="standard" [ngClass]="jpCustomFormFieldClass" class="w-100">
  <mat-label>Year</mat-label><!-- {{label}} -->
  <input matInput [(ngModel)]="moviesService.primary_release_year" name="primary_release_year"
    (click)="_openDatepickerOnClick(datepicker)" (keydown.arrowdown)="_openDatepickerOnClick(datepicker)"
    (keydown.enter)="_openDatepickerOnClick(datepicker)" [formControl]="_inputCtrl" [matDatepicker]="datepicker"
    [max]="_max" [min]="_min" placeholder="Release Year">
  <mat-hint>Optional</mat-hint>
</mat-form-field>
<mat-datepicker #datepicker (closed)="_takeFocusAway(datepicker)"
  (yearSelected)="_yearSelectedHandler($event,datepicker)" [touchUi]="touchUi" panelClass="jp-year-picker"
  startView="multi-year">
</mat-datepicker>