<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let keyword of movieService.keywords"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(keyword)">
        {{keyword.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Keywords"
        #fruitInput
        [formControl]="frmCtrl_keyworkds"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList">
        <!-- (matChipInputTokenEnd)="add($event)" -->
        <!-- [matChipInputSeparatorKeyCodes]="separatorKeysCodes" -->
        <!-- [matChipInputAddOnBlur]="addOnBlur" -->
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let keyword of filteredKeywords$ | async" [value]="keyword">
        {{keyword.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  
<!--  <pre>{{movieService.keywords | json}}</pre> -->