<mat-toolbar color="primary">Discover Movies</mat-toolbar>

<div class="m-2">
    <small>Filters:</small>
    <br>
    <form>
        <!-- Languages -->
        <mat-form-field class="w-100">
            <input type="text" placeholder="Language" aria-label="Number" matInput [formControl]="frmCtrl_language" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions_Languages" [value]="option">
                    {{option.english_name}} &nbsp;&nbsp; <code>{{option.name}}</code>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <!-- Genres -->
        <mat-form-field *ngIf="moviesService.genresResult$ | async as genresResults" class="w-100">
            <mat-select placeholder="Genres" [formControl]="frmCtrl_genres" multiple>
                <mat-select-trigger>
                    {{frmCtrl_genres.value ? frmCtrl_genres.value[0]?.name : ''}}
                    <span *ngIf="frmCtrl_genres.value?.length > 1">
                        (+{{frmCtrl_genres.value.length - 1}}
                        {{frmCtrl_genres.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let genresResult of genresResults" [value]="genresResult">{{genresResult.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Certification Country -->
        <mat-form-field *ngIf="moviesService.certificationsResult$ | async as certificationsResult" class="w-100">
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="moviesService.certification_country" name="certification_country" (selectionChange)="countryChanged($event)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let certification of certificationsResult | certificationKeys"
                    [value]="certification">
                    {{certification}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Certification -->
        <mat-form-field class="w-100">
            <mat-label>Certificate</mat-label>
            <mat-select [(ngModel)]="moviesService.certification" name="certification" [disabled]="!moviesService.certification">
                <mat-option *ngFor="let certification of certificatesOfSelectedCountry"
                    [value]="certification.certification" [matTooltip]="certification.meaning"
                    matTooltipPosition="after">
                    {{certification.certification}}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Release date greater than -->
        <mat-form-field class="w-100">
            <input matInput [(ngModel)]="moviesService.primary_release_date_gte" name="primary_release_date_gte"
                [max]="moviesService.primary_release_date_lte" [matDatepicker]="picker1"
                placeholder="Release date greater than">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <!-- Release date less than -->
        <mat-form-field class="w-100">
            <input matInput [(ngModel)]="moviesService.primary_release_date_lte" name="primary_release_date_lte"
                [min]="moviesService.primary_release_date_gte" [matDatepicker]="picker2"
                placeholder="Release date less than">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <app-chips-keywords></app-chips-keywords>

        <!-- Adult Content -->
        <mat-slide-toggle [(ngModel)]="moviesService.include_adult" name="include_adult" class="w-100">Adult Content</mat-slide-toggle>

        <br>
        <br>
        <!-- Apply Filters -->
        <button mat-raised-button color="accent" (click)="applyFilters()" class="btn-block">
            Apply Filters <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </form>
</div>

<!-- <mat-nav-list>
    <a mat-list-item href="#">Link 1</a>
    <a mat-list-item href="#">Link 2</a>
    <a mat-list-item href="#">Link 3</a>
</mat-nav-list> -->