.sidenav-container {
    height: 100%;
    overflow: unset;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  mat-sidenav-content {
    overflow: unset;
  }

  
.button-gototop {
  position: fixed;
  bottom: 50px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  outline: none;
  z-index: 100;
}

a:link, a:active {
  text-decoration: none;
}

a:hover {
  color: antiquewhite;
}