<div class="mat-app-background container-fluid mb-4" style="min-height: 100vh;">
    <div class="row my-3">
        <div class="col">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Search Movies</mat-label>
                <input matInput [(ngModel)]="moviesService.searchQuery" (keyup.enter)="searchMovies()"
                    placeholder="Type your query...">
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>
                    Note: Adult filter is {{ moviesService.include_adult ? 'ON' : 'OFF' }}.
                    <a mat-button (click)="changeAdultFilter()">change</a>
                </mat-hint>
            </mat-form-field>
        </div>
        <div class="col-2">
            <app-year-picker [touchUi]="!(moviesService.isHandset$ | async)"></app-year-picker>
        </div>
        <div class="col-auto mt-2">
            <button mat-fab (click)="searchMovies()" aria-label="Example icon-button with a heart icon"
                style="outline: none">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="moviesService.discoverResult$ | async as results else noData" class="m-2">
        <div class="row" *ngIf="results && results.length > 0">
            <mat-button-toggle-group #group="matButtonToggleGroup" (click)="switchView(group.value)"
                class="ml-auto m-2" [value]="isGridView? 'grid':'list'">
                <mat-button-toggle value="grid" aria-label="Text align left" is>
                    <mat-icon>apps</mat-icon> Grid View
                </mat-button-toggle>
                <mat-button-toggle value="list" aria-label="Text align center">
                    <mat-icon>menu</mat-icon> List View
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="row">
            <app-movies-grid-view *ngIf="isGridView" [results]="results" class="ml-2"></app-movies-grid-view>
            <app-movies-table-view *ngIf="!isGridView" [results]="results"></app-movies-table-view>
        </div>

    </div>
    <ng-template #noData>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>
    <hr>
    <div *ngIf="moviesService.discoverResult$" class="row my-3">
        <div class="col-md-6 mt-2">
            {{moviesService.total_results | number}} results found. | showing page {{moviesService.page | number}} out
            of
            {{moviesService.total_pages | number}} pages. &nbsp;&nbsp;
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <button mat-raised-button [disabled]="moviesService.page <= 1" color="accent" (click)="previousPage()"
                    style="outline: none;">
                    <mat-icon>keyboard_arrow_left</mat-icon> Previous Page
                </button>
                <button mat-mini-fab color="warn" class="mx-2" style="outline: none;"> {{moviesService.page}} </button>
                <button mat-raised-button [disabled]="moviesService.page >= moviesService.total_pages" color="accent"
                    (click)="nextPage()" style="outline: none;">
                    Next Page <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>