<div class="row w-100">
    <div class="col-4 col-sm-4 col-md-3 col-xl-2 mb-3" *ngFor="let result of results">
        <mat-card
            [routerLink]="['', { outlets: { primary: ['movies-details', result.id], sidebar: ['movies-sidebar', result.id] } }]"
            style="padding-bottom: 0px; cursor: pointer;" class="img-hover-zoom">
            <!-- Show on small screens without tooltip as adding it stops scolling on touch UI -->
            <img mat-card-image src="{{ moviesService.imageBaseUrl_w300 + result.poster_path }}" alt="{{result.title}}"
                onError="this.src='../../../../assets/images/ImageNotFound.jpg';"
                *ngIf="(moviesService.isHandset$ | async)">

            <!-- Show on big screens with tooltip as adding it doens't affect scolling -->
            <img mat-card-image src="{{ moviesService.imageBaseUrl_w300 + result.poster_path }}" alt="{{result.title}}"
                onError="this.src='../../../../assets/images/ImageNotFound.jpg';" matTooltip="{{result.title}}"
                matTooltipClass="movie-name-tooltip" *ngIf="!(moviesService.isHandset$ | async)">
        </mat-card>
    </div>
</div>